body {
    font-family: monospace;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}



.light-theme {
    color: #000000;
    background-color: #00ff00;
}

:root {
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
}

* {
    color: var(--fontColor);
    font-family: Helvetica;
}

body {
    background: var(--bg);
}