@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
:root {
    --fonte1: Verdana,  Tahoma, sans-serif;
    --fonte2: 'Passion One';
    --fonte3: 'Sriracha';
}
* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
